.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; height: 20px;
    border: 1px solid var(--white);
}
.checkbox svg {
    width: 20px; height: 20px;
}
.checkbox svg path {
    fill: var(--white);
}