.wrapper {
    display: grid;
    grid-gap: 10px;
    align-items: flex-end;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media (min-width: 999px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}