.modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--white);
    z-index: 2;
}

.modalContent {
    position: relative;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 2px 5px 0 rgba(8, 13, 10, 0.1),
                0 10px 10px 0 rgba(8, 13, 10, 0.09);

}