.wrapper {
    cursor: pointer;
    transition: .2s;
    border: 1px solid var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skeleton, .image {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
}
.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}
.content .inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content .name {
    font-size: 20px;
}
.content .name span {
    font-size: 18px;
    color: var(--white);
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: var(--orange);
    white-space: nowrap;
}
.descriptionWithPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.description {
    color: var(--white);
}
.toGo {
    display: flex;
    justify-content: center;
}
.toGo span {
    transition: .1s;
    position: relative;
    padding-bottom: 3px;
}
.toGo span::before {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 0; height: 1px;
    transition: width .2s ease;
    background-color: var(--white);
}
.wrapper:hover .toGo span::before {
    width: 100%;
}