.wrapper {
    background: var(--white);
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
                0 7px 7px 0 rgba(0, 0, 0, 0.09),
                0 16px 10px 0 rgba(0, 0, 0, 0.05),
                0 29px 12px 0 rgba(0, 0, 0, 0.01),
                0 46px 13px 0 rgba(0, 0, 0, 0);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.wrapper button {
    margin: 0 auto;
}
