/* Основные стили кнопки */
.button {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 63px;
    cursor: pointer;
    background: var(--orange);
    transition: 0.5s;
    outline: none;
}

.text {
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    color: var(--white);
}

/* Стили псевдоэлемента и анимации при наведении */
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background-color: var(--white);
    transform: translate(110%, 0) skew(-30deg);
    transition: 0.5s;
}


@media (hover: hover) {
    .button:hover .text {
        color: var(--dark);
    }
    .button:hover::before {
        transform: translate(-6%, 0) skew(-15deg);
    }
}
@media (hover: none) {
    .button, .text {
        transition: none;
    }
    .button:active {
        background-color: var(--white);
    }
    .button:active .text {
        color: var(--dark);
    }

}

/* Стили для состояния 'validate' и 'onClick' */
.button.onClick,
.button.validate {
    width: 63px !important;
    height: 63px !important;
    padding: 0 !important;
    pointer-events: none;
    color: var(--white);
}

.button.onClick {
    border: 3px solid #bbbbbb;
    border-left-color: var(--orange);
    background: var(--white);
    animation: rotating 2s 0.25s linear infinite;
}

.button.validate {
    width: 100% !important;
    font-size: 24px;
}

.button.validate::before {
    background: var(--orange);
}

/* Анимация вращения */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
