.wrapper {
    padding: 20px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0 2px 5px 0 rgba(8, 13, 10, 0.1),
                0 10px 10px 0 rgba(8, 13, 10, 0.09),
                0 22px 13px 0 rgba(8, 13, 10, 0.05),
                0 39px 16px 0 rgba(8, 13, 10, 0.01),
                0 61px 17px 0 rgba(8, 13, 10, 0);
}
.wrapper h5 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.heightWidthContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.additionalOptionsContainer {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0 0;

}
.additionalOptions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.buttons button {
    width: 50%;
    border: none;
    outline: none;
    background-color: var(--dark);
    color: var(--white);
    height: 38px;
    transition: .2s;
    font-size: 16px;
}
.buttons button:hover {
    opacity: 0.8;
}
.buttons button:first-child {
    background: var(--orange);
}
.totalPrice {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}
.totalPrice span {
    font-weight: bold;
    color: var(--orange);
}
@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100%;
    }
}