.wrapper {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--white);
    color: var(--white);
    background: var(--dark);
}
.wrapper h5 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.heightWidthContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.heightWidthContainer input {
    color: var(--white);
}

.additionalOptionsContainer {
    margin: 20px 0 0;
}
.additionalOptions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.buttons button {
    width: 50%;
    border: none;
    outline: none;
    background-color: var(--dark);
    color: var(--white);
    height: 50px;
    transition: .2s;
    font-size: 16px;
}
.buttons button:hover {
    opacity: 0.8;
}
.buttons button:first-child {
    background: var(--orange);
}
.buttons button:last-child {
    border: 1px solid var(--white);
}
.totalPrice {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--white);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}
.totalPrice span {
    font-weight: bold;
    color: var(--orange);
}
@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100%;
    }
}