.wrapper {
    padding: 145px 20px 80px;
    background: var(--dark);
}

.inner {
    max-width: 1240px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: content-box;
}
.inner h1 {
    color: var(--white);
}

.content {
    display: grid;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    gap: 40px;
}

@media (max-width: 999px) {
    .wrapper {
        padding: 194px 15px 80px;
    }
    .content {
        grid-template-columns: 100%;
    }
}
.infoAboutProduct {
    color: var(--white);
}
.infoAboutProduct .article {
    margin-bottom: 24px;
    display: block;
}
.infoAboutProduct h1.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 24px;
}
.infoAboutProduct .description {
    margin-bottom: 24px;
}

.calculator {
    margin-bottom: 24px;
}

.priceContainer {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.priceContainer p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceContainer .price {
    color: var(--orange);
}
.priceFrom {
    font-weight: normal;
}

.makeOrder {
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .makeOrder button {
        width: 100% !important;
    }
}

.contentForOrder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nameWithArticle {
    font-size: 24px;
}
.nameWithArticle .article {
    color: rgb(156, 163, 175);
    font-size: 20px;
}
.selectedCharacteristics {
    font-size: 20px;
}
.characteristics .list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.characteristics .list li:first-letter {
    text-transform: capitalize;
}
.contentForOrder .totalPrice {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentForOrder .totalPrice span {
    color: var(--orange);
    font-weight: 600;
}
