.slider {
    user-select: none;
}

.popupForFurniture {
    padding: 30px;
    background: #fff;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 500px;
    max-height: 80vh;
    overflow: auto;
    border-radius: 50px;
}
.popupForFurniture .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupForFurniture .imgContainer .image,
.popupForFurniture .imgContainer .skeleton {
    width: 300px;
    object-fit: cover;
}
.popupForFurniture .imgContainer .skeleton {
    height: 300px;
}
.popupForFurniture .title {
    font-size: 24px;
}
.popupForFurniture .description > .firstChild {
    display: block;
    margin-bottom: 16px;
}
@media (max-width: 560px) {
    .popupForFurniture {
        width: 330px;
        overflow: auto;
    }
    .popupForFurniture .imgContainer .image,
    .popupForFurniture .imgContainer .skeleton {
        width: 220px;
        object-fit: cover;
    }
    .popupForFurniture .imgContainer .skeleton {
        height: 220px;
    }
}