.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.product:not(:last-child) {
    border-bottom: 1px solid rgba(75, 85, 99, 0.2);
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .product {
        flex-direction: column;
    }
}
.product .inner {
    display: flex;
    align-items: center;
    gap: 15px;
}
@media (max-width: 767px) {
    .product .inner {
        width: 100%;
        justify-content: space-between;
    }
}

.deleteAndImageContainer {
    position: relative;
}
.product .deleteBtn {
    background: transparent;
    border: none;
    position: absolute;
    width: 25px; height: 25px;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
    transition: .2s;
}
.product .deleteBtn:hover {
    background: rgba(36, 36, 36, 0.2);
}
.product .imageContainer {
    width: 73px; height: 73px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .product .imageContainer {
        width: 60px; height: 60px;
    }
}
.product .imageContainer img {
    width: 100%; height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.product .articleWithName {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}
@media (max-width: 767px) {
    .product .articleWithName {
        width: auto;
        max-width: 250px;
    }
}

.price {
    width: 65px;
    text-align: end;
    font-weight: bold;
}

.product .buttonsAndQuantity {
    display: flex;
    gap: 5px;
    align-items: center; justify-content: center;
}
.product .buttonsAndQuantity button {
    width: 25px; height: 25px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
}
.product .buttonsAndQuantity button:hover {
    opacity: 0.7;
}
.product .buttonsAndQuantity button span {
    display: block;
    width: 15px;
    height: 1px;
    background: var(--dark);
}
.product .buttonsAndQuantity button.plus {
    background: var(--orange);
    border-color: var(--orange);
}
.product .buttonsAndQuantity button.plus span {
    background: var(--white);
}
.product .buttonsAndQuantity button.plus span:last-child {
    position: absolute;
    transform: rotate(90deg);
}
.product .buttonsAndQuantity .quantity {
    width: 30px;
    text-align: center;
}

@media (hover: none) {
    .product button {
        opacity: 1 !important;
    }
}

.productEnter {
    opacity: 0;
}
.productEnterActive {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.productExit {
    opacity: 1;
}
.productExitActive {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.product .article {
    color: rgba(75, 85, 99, 1);
}