.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wrapper select {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(209, 213, 219);
}
.wrapper option:hover {

}