.wrapper {
    width: 100%;
    border-radius: 20px;
    border: 1px solid;
    transition: .5s;
}
.wrapper.variant1 {
    backdrop-filter: blur(11px);
    background: linear-gradient(99.35deg, rgba(255, 255, 255, 0.15) 0.01%, rgba(255, 255, 255, 0.05) 100.01%);
    border-color: var(--white);
}
.wrapper.variant2 {
    border-color: var(--dark);
    background: transparent;
}
.wrapper.variant3 {
    background: transparent;
    border-color: var(--white);
}