/* IMAGES */
.imagesSection {
    padding: 72px 0 0;
}
.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImg .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*cursor: url("../../assets/images/zoom-in.png"), pointer;*/
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
}
@media(hover: hover) {
    .containerImg .image:hover {
        transform: scale(1.02);
    }
}
.containerImg .skeleton {
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

/* TILE */
.tile {
    border: 1px solid var(--white);
    padding: 30px;
    overflow: hidden;
    color: var(--white);
    position: relative;
    cursor: pointer;
    transition: .5s;
    height: 100%;
}
.tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background-color: var(--white);
    transform: translate(110%, 0) skew(-30deg);
    transition: 0.5s;
}
@media (hover: hover) {
    .tile:hover {
        color: var(--dark);
    }
    .tile:hover::before {
        transform: translate(-6%, 0) skew(0deg);
    }
}
@media (hover: none) {
    .tile {
        transition: none;
    }
    .tile:active {
        color: var(--dark);
        background-color: var(--white);
    }
}
.tile p {
    position: relative;
    font-size: 32px;
    font-weight: 800;
    z-index: 2;
}
@media (max-width: 999px) {
    .tile p {
        font-size: 16px;
    }
}
.blockWithArrow, .blockWithArrow svg {
    position: absolute;
    bottom: -1px;
    right: -1px;
}
